<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Spring Framework Guru: practice</title>
</head>
<body>
	<h1>Product List</h1>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Publisher</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="book : ${books}">
				<td th:text="${book.id}">def id</td>
				<td th:text="${book.title}">def title</td>
				<td th:text="${book.publisher.name}">def pub</td>
			</tr>
		</tbody>
	</table>
</body>
</html>